.bg-green-pea-400 {
  background-color: #53b483 !important;
}
.bg-green-pea-500 {
  background-color: #319868 !important;
}
.bg-green-pea-600 {
  background-color: #217a52 !important;
}
.bg-green-pea-700 {
  background-color: #1b6445 !important;
}
.bg-green-pea-800 {
  background-color: #174e36 !important;
}
.bg-green-pea-900 {
  background-color: #14402e !important;
}
